@charset "UTF-8";

:root{
    --color-red: #C01414;
    --color-blue: #2F41B8;
    --color-red-transparent: #c0141462;
    --color-blue-transparent: #2f41b860;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    transition: 1s;
}

body{
    background-image: url('../img/background.png'), linear-gradient(45deg, #3A3A3A 0%, #111111 100%);
    background-repeat: no-repeat;
    background-size: cover;


    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.layout{
    display: grid;
    grid-template-columns: 4rem 1fr;
    width: 100%;
    padding: 3rem;
}
#columnLeft{
    width: 1rem;
    height: 100%;

    background-image: linear-gradient(to bottom, var(--color-red), white, var(--color-blue));
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#border-bottom-right{
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

/*****************/
#logoTitle{
    width: 65%;
}

#conversor{
    background-color: #d9d9d944;
    background-image: linear-gradient(145deg, var(--color-red-transparent) 0 0, transparent, transparent, var(--color-blue-transparent)100% 100%);
    border: 1px solid white;
    padding: 1.5rem;
    border-radius: 0.5rem;

    max-width: 50rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}

#conversor > p{
    text-align: center;
}

/********************/
#selectsTemp{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    font-size: 1.2rem;
}
select, button, input {
    font-size: inherit;
}

.selectsTemp-select{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

}
input[type="text"]{
    padding: 0.3rem;
    border-radius: 0.3rem;
}

select{
    padding: 0.3rem;
    border-radius: 0.3rem;
}

/*******************/
#btnConvert{
    background-color: var(--color-red);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}
#output{
    background-color: white;
    display: inline-block;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    padding: 0.3rem;
    min-height: 1.8rem;
}